<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
</style>
<body>
    <h1>Home page</h1>

    <h2>welcome to the home page</h2>

    <p>
        So why wait? Click on the "Predict Now" button to get your loan eligibility prediction today!
    </p><button> <a href="https://loan-eligibility-prediction-system.onrender.com/loanpredict" class="button">Predict Now</a></button>
</body>
</html>